<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testscript.TC1_youtube"/>
      <class name="org.testing.testscript.TC2_youtube"/>
      <class name="org.testing.testscript.TC3_youtube"/>
      <class name="org.testing.testscript.TC4_youtube"/>
      <class name="org.testing.testscript.TC5_youtube"/>
      <class name="org.testing.testscript.TC6_youtube"/>
      <class name="org.testing.testscript.TC7_youtube"/>
      <class name="org.testing.testscript.TC8_youtube"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
